html, body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
  font-size: 14px;
  overflow-y: scroll;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
}

.topbar {
  padding-left: 1vh;
  height: 7vh;
  display: flex;
  background-color: rgb(0, 183, 255);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  align-items: center;
}

.topbar-item-left {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 1vh;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  justify-content: center;
}



.topbar-item-left-link:link, .topbar-item-left-link:visited {
  color: white;
  text-decoration: none;
}

.topbar-item-left:hover {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.topbar-item-left:active {
  text-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.toolbar {
  position: sticky;
  top: 0vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: rgb(29, 29, 29);
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(23, 48, 65);
}

.toolbar-items-left {
}

.toolbar-item-left {
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 1vh;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.toolbar-item-left:hover {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.toolbar-items-right {
  margin-left: auto;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.searchbar {
  width: 15vw;
}

.main-card {
  min-height: 83vh;
  margin: 2vh 1.5vh 3vh 1.5vh;
  box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2);
}

.all-products-view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.all-products-item {
  display: flex;
  width: 25vh;
  padding: 2vh;
  margin: 1vh;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .all-products-item-img {
  width: 50%;
} */

.all-products-item-info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  padding-left: 1vw;
  margin-left: auto;
}

.order-view-selector {
  display: flex;
  height: 7vh;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 3vh;
}

.order-view-selector-item {
  margin-top: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  width: 20vw;
  flex-grow: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background-color: rgb(236, 236, 236);
  margin-left: 1vh;
  margin-right: 1vh;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  color: rgb(23, 48, 65);
}

.order-view-selector-item:hover {
  text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}

@media only screen and (min-width: 768px) {
  .order-view-main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .order-view-main-container {
    display: flex;
    flex-direction: column;
  }
}


.order-view-left-container {
  display: flex;
  flex-direction: column;
  /* margin-left: 25%; */
  /* margin-bottom: 5vw; */
  align-items: center;
  min-height: 100%;
}

.order-view-left-card {
  width: 80%;
  height: 30em;
}

.order-view-left-form {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-direction: column;
  height: inherit;
  justify-content: flex-start;
}

.order-view-left-form-item {
  margin-top: 5%;
  margin-left: 5%;
}

.order-view-left-form-input {
  /* height: 30%; */
  width: 60%;
}

.order-view-submit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.order-view-submit-button {
  width: 60%;
}

.order-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.order-list-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  /* margin-top: 2vh; */
  /* margin-left: 5vw; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(247, 247, 247);
  width: 80%;
}

.order-list-item {
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
  word-wrap: break-word;
}

.order-list-item-message {
  /* margin-top: 3vh; */
  /* margin-bottom: 1vh; */
  margin-left: 3vh;
  margin-right: 3vh;
  word-wrap: break-word;
}

.order-list-item-button {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 5vh;
  width: 50%;
  align-self: center;
}