html, body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
  font-size: 14px;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
}

.topbar {
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 1vh;
  height: 7vh;
  display: flex;
  background-color: rgb(0, 183, 255);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  align-items: center;
  
}

.topbar-item-left {
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}



.topbar-item-left-link:link, .topbar-item-left-link:visited {
  color: white;
  text-decoration: none;
}

.topbar-item-left:hover {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.topbar-item-left:active {
  text-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.toolbar {
  position: sticky;
  top: 0vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: rgb(29, 29, 29);
  font-size: 1.1rem;
  font-weight: 400;
}

.toolbar-items-left {
}

.toolbar-item-left {
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 1vh;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.toolbar-item-left:hover {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.toolbar-items-right {
  margin-left: auto;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.searchbar {
  width: 15vw;
}

.main-card {
  min-height: 83vh;
  margin: 2vh 1.5vh 3vh 1.5vh;
  box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2);
}

.all-products-view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.all-products-item {
  display: flex;
  width: 25vh;
  padding: 2vh;
  margin: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.all-products-item-img {
  width: 50%;
}

.all-products-item-info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1vh;
  align-items: center;
}