@media only screen and (min-width: 600px) {
  html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto';
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto';
    font-size: 3vw;
  }
}

.selected-popup-container {
  position: fixed;
  width: 100vw;
  bottom: 0.5rem;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 999;
}

.selected-popup-item:disabled {
  background-color: rgb(0, 183, 255);
  color: white;
  border-radius: 3px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  font-weight: 500;
  width: 70%;
  border: none;
  outline: none;
  text-align: center;
  animation-duration: 1.8s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 300%;
  }

  17% {
    margin-right: 0%;
  }

  82% {
    margin-right: 0%;
  }
  to {
    margin-right: 150%;
  }
}

::placeholder {
  font-family: 'Roboto'
}

input, select, textarea, button{font-family:inherit;}


.card {
  /* Add shadows to create the "card" effect */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .topbar {
    height: 11vmin;
    display: flex;
    background-color: rgb(0, 183, 255);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 600px) {
.topbar {
  height: 3.5rem;
  display: flex;
  background-color: rgb(0, 183, 255);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  align-items: center;
  justify-content: flex-start;
}
}
.topbar-item-left {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 5vw;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}

.topbar-item-left-link:link, .topbar-item-left-link:visited {
  color: white;
  text-decoration: none;
}

.topbar-item-left:hover {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.topbar-item-left:active {
  text-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.topbar-item-right {
  margin-left: auto;
  margin-right: 5vw;
}

.topbar-item-right-select {
  color: white;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  background-color: rgba(0,0,0,0.2)
}
@media only screen and (max-width: 600px) {
  .toolbar {
    z-index: 999;
    position: sticky;
    top: 0;
    height: 9vmin;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(23, 48, 65);
  }
}

@media only screen and (min-width: 600px) {
  .toolbar {
    z-index: 999;
    position: sticky;
    top: 0;
    height: 2.5rem;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(23, 48, 65);
  }
}

.toolbar-items-left {
  margin-left: 6vw;
  display: flex;
  align-items: center;
}

.toolbar-item-left {
  margin-right: 5vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.toolbar-item-left-order {
  margin-right: 0;
}

.toolbar-item-left:hover {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.products-tab-cross, .orders-tab-cross {
  /* visibility: hidden; */
  font-size: 0.9rem;
  font-weight: 800;
  margin-right: 0.5rem;
  /* margin-top: 1rem; */
}

.toolbar-items-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  /* margin-left: auto; */
  margin-right: 6vw;
  /* padding-top: 1vmax;
  padding-bottom: 1vmax; */
}

.searchbar {
  /* padding-bottom: 1vmax; */
  /* padding-top: 1vmax; */
  color: rgb(23, 48, 65);
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 4px;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  outline: none;
  width: 20vmin;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.searchbar::placeholder {
  color: rgb(23, 48, 65);
}

.searchbar:focus {
  width: 23vmin;
  border-bottom: 2px solid rgba(23,48,65,1.0);
}

.main-card {
  min-height: 80vh;
  margin: 2vw 2vw 3vw 2vw;
  box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2);
}

.all-products-view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-products-item {
  display: flex;
  padding: 1vw;
  min-width: 21rem;
  max-width: 21rem;
  margin: 2.5vw;
  font-weight: 400;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: flex-start;
  /* border-left: 5px solid green; */
}

.all-products-item-img {
  margin-top: 1vw;
  margin-bottom: 1vw;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .all-products-item-img-tag {
    width: 8rem;
  }
}

@media only screen and (min-width: 600px) {
  .all-products-item-img-tag {
    width: 8rem;
    height: 18rem;
  }
}
.all-products-info-list-specs {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.all-products-info-list-specs-item {
  /* margin-top: 0.5rem; */
  margin-bottom: 1rem;
  
}

.all-products-info-list-specs-item-text {
  margin-left: 1vw;
}


.all-products-info-list {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.all-products-info-list-item {
  /* height: 2rem; */
  margin-bottom: 1rem;
  word-wrap: break-word;
  /* justify-self: flex-end; */
}

.all-products-info-list-item-last {
  margin-top: auto;
}

.all-products-info-list-item-select {
  width: 100%;
}


.order-view-selector {
  display: flex;
  height: 5vh;
  /* align-items: center; */
  /* justify-content: center; */
  font-weight: 400;
  /* margin-left: 1vh;
  margin-right: 1vh; */
  /* margin-bottom: 3vh; */
}

.order-view-selector-items {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 8vw;
}

.order-view-selector-item {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
  width: 20vw;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.2);
  background-color: rgb(247, 247, 247);
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  color: rgb(23, 48, 65);
}

.order-view-selector-item:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

@media only screen and (min-width: 600px) {
  .order-view-main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .order-view-main-container {
    display: flex;
    flex-direction: column;
  }
}

input:disabled {
  background-color: rgb(177, 177, 177);
  color: rgb(236, 236, 236);
}

.order-view-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.order-view-left-card {
  margin-top: 3vh;
  width: 40vmax;
  height: 60vh;
  background-color: rgb(247, 247, 247);
}

.order-view-left-form {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-direction: column;
  height: inherit;
  justify-content: flex-start;
  overflow: hidden;
}

.order-view-left-form-item {
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.order-view-left-form-input {
  width: 50%;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  outline: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.order-view-left-form-input:focus {
  width: 80%;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}

.order-view-left-form-input:disabled {
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  color: inherit;
}

.order-view-left-form-input-note {
  color: rgba(0,0,0,0.3);
  margin-top: 0.7rem;
  margin-right: 0.7rem;
}

.order-view-left-form-last {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.order-view-left-form-last-item {
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  height: 1rem;
}

.order-view-left-form-last-item-value {
  margin-left: 1.4rem;
}

.order-view-submit-button {
  width: 60%;
  margin-top: auto;
  margin-bottom: 0.7rem;
  height: 3rem;
  align-self: center;
  outline: none;
  border: none;
  border-radius: 4px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  background-color: rgb(0, 200, 255);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  color: rgb(247, 247, 247);
  font-size: 1.1rem;
  font-weight: 600;
} 

.order-view-submit-button:hover {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);

}

.order-view-left-form-item-textarea {
  width: 50%;
  resize: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  outline: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  overflow: hidden;
}

.order-view-left-form-item-textarea:focus {
  width: 80%;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid rgba(0,0,0,0.8);
}

.order-right-container {
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-list-card {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1rem; */
  margin-top: 3vh;
  /* margin-left: 5vw; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(247, 247, 247);
  width: 40vmax;
  height: 60vh;
  overflow: hidden;
}

.order-list-item {
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  /* margin-right: 2rem; */
  word-wrap: break-word;
  /* transition: 1.0s; */
}

.order-list-item-text {
  padding-left: 0.7rem;
  /* padding-left: 1.4rem; */
  margin-right: 0.7rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.order-list-item-last {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;

}

.order-list-item-button {
  width: 60%;
  height: 3rem;
  background-color: rgba(68, 0, 255, 0.9);
  text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  align-self: center;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.landing-input-container-1 {
  display: flex;
  /* margin-top: 3vh; */
  margin-left: 10%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-1 {
    display: flex;
    margin-left: 20%;
  }
}

.landing-input-1:disabled {
  margin-top: 3vh;
  border: none;
  outline: none;
  /* border-right: 0.5rem solid rgb(238, 157, 0); */
  background-color: rgba(0,0,0,0);
  font-family: "Roboto Mono";
  font-size: 2rem;
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  letter-spacing: 0.25rem;
  color: rgb(23, 48, 65);
  overflow: hidden;
  width: 20rem;
  animation-name: line-1-striptease;
  animation-duration: 1s;
  animation-timing-function: steps(14, start)
}

@keyframes line-1-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 20rem;
    border-right: none;
  }
}

.landing-input-container-2 {
  display: flex;
  margin-left: 10.5%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-2 {
    display: flex;
    margin-left: 25%;
  }
}

.landing-input-2:disabled {
  margin-top: 3vh;
  border: none;
  outline: none;
  /* border-right: 0.5rem solid rgb(238, 157, 0); */
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.3rem;
  color: rgb(49, 100, 133);
  width: 0;
  animation-name: line-2-striptease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
  animation-timing-function: steps(35, start)
}

@keyframes line-2-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 27rem;
    border-right: none;
  }
}

.landing-input-container-3 {
  display: flex;
  margin-left: 10.5%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-3 {
    display: flex;
    margin-left: 25%;
  }
}


.landing-input-3:disabled {
  margin-top: 3vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.3rem;
  color: rgb(49, 100, 133);
  width: 0;
  animation-name: line-3-striptease;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-timing-function: steps(14, start)
}

@keyframes line-3-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 11rem;
    border-right: none;
  }
}

.landing-input-container-4 {
  display: flex;
  margin-left: 18%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-4 {
    display: flex;
    margin-left: 28%;
  }
}

.landing-input-4:disabled {
  margin-top: 3vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  color: rgb(23, 48, 65);
  width: 0;
  animation-name: line-4-striptease;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: steps(8, start)
}

@keyframes line-4-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 9rem;
    border-right: none;
  }
}

.landing-input-container-5 {
  display: flex;
  margin-left: 18%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-5 {
    display: flex;
    margin-left: 28%;
  }
}

.landing-input-5:disabled {
  margin-top: 1.5vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  color: rgb(23, 48, 65);
  width: 0;
  animation-name: line-5-striptease;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: steps(7, start)
}

@keyframes line-5-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 8rem;
    border-right: none;
  }
}

.landing-input-container-6 {
  display: flex;
  margin-left: 18%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-6 {
    display: flex;
    margin-left: 28%;
  }
}

.landing-input-6:disabled {
  margin-top: 1.5vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  color: rgb(23, 48, 65);
  width: 0;
  animation-name: line-6-striptease;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: steps(6, start)
}

@keyframes line-6-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 6rem;
    border-right: none;
  }
}

.landing-input-container-7 {
  display: flex;
  margin-left: 18%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-7 {
    display: flex;
    margin-left: 28%;
  }
}

.landing-input-7:disabled {
  margin-top: 1.5vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  color: rgb(23, 48, 65);
  width: 0;
  animation-name: line-7-striptease;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: steps(5, start)
}

@keyframes line-7-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 5rem;
    border-right: none;
  }
}


.landing-input-container-8 {
  display: flex;
  margin-left: 16%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-8 {
    display: flex;
    margin-left: 27%;
  }
}


.landing-input-8:disabled {
  margin-top: 1.5vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.3rem;
  color: rgb(49, 100, 133);
  width: 0;
  animation-name: line-8-striptease;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-timing-function: steps(2, start)
}

@keyframes line-8-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 2rem;
    border-right: none;
  }
}

.landing-input-container-9 {
  display: flex;
  margin-left: 10.5%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-9 {
    display: flex;
    margin-left: 25%;
  }
}

.landing-input-9:disabled {
  margin-top: 1.5vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  color: rgb(49, 100, 133);
  width: 0;
  animation-name: line-9-striptease;
  animation-delay: 4.0s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-timing-function: steps(28, start)
}

@keyframes line-9-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 27rem;
    border-right: none;
  }
}

.landing-input-container-10 {
  display: flex;
  margin-left: 17%;
}

@media only screen and (min-width: 600px) {
  .landing-input-container-10 {
    display: flex;
    margin-left: 27%;
  }
}

.landing-input-10:disabled {
  margin-top: 1.5vh;
  border: none;
  outline: none;
  font-family: "Roboto Mono";
  background-color: rgba(0,0,0,0);
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  color: rgb(49, 100, 133);
  width: 0;
  animation-name: line-10-striptease;
  animation-delay: 5.8s;
  animation-fill-mode: forwards;
  animation-duration: 1.8s;
  animation-timing-function: steps(3, start)
}

@keyframes line-10-striptease {
  from {
    width: 0;
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  99% {
    border-right: 0.5rem solid rgb(238, 157, 0);
  }
  to {
    width: 9vw;
    border-right: none;
  }
}

@media only screen and (min-width: 600px) {
  @keyframes line-10-striptease {
    from {
      width: 0;
      border-right: 0.5rem solid rgb(238, 157, 0);
    }
    99% {
      border-right: 0.5rem solid rgb(238, 157, 0);
    }
    to {
      width: 3rem;
      border-right: none;
    }
  }
}